body{background-color:#171818;
    color:white;
font-family:'Barlow', sans-serif;
color:white;
}

#portfoliothingy{display:none;}

html {
    scroll-behavior: smooth;
     /* overflow-y:hidden; */
    /* overflow-x:hidden;  */
    /* overflow-y:hidden; */
    height:100vh;
  }




#logo{
        height:124px;
        margin:20px;
        
        
   
    }

#recordplayer{
    height:324px;
position:relative;
top: -400px;
left: 600px;}

#sandwich{ 
    position:fixed;
    height: 5%;
    top: 216px;
    left: 2px;
    margin-left: 92.5%;
    margin-right: 10%;
    margin-top: -200px;
    cursor: pointer;
    z-index:2;

}
#sandwich:hover{
    opacity:.7;
}


#title{margin-top: -56px;
    color: white;
    margin-left: 8px;
display:grid;}
#kevin{font-size:160px;
display:flex}
#buchik{margin-top:-56px;
    font-size:160px;
    }

#job{margin-left: 10px;
    margin-top: -32px;
    font-size:56px;
font-weight: lighter;
opacity:.5;}

#menu{
    display: flex;
    align-items:center;
color:white;
border-spacing: 20px;
margin-left:20px;
font-size:16px;
margin-top:40px;

}
.link{margin-right:24px;
margin-left:24px;
cursor:pointer;
color:white;
text-decoration: none;}


.link:hover{text-decoration:none;
    color:white;
opacity:.7}

.line{border-left: 2px solid white;
height:20px;}
#ribbon{    z-index: -1;
    position: absolute;
    width: 1900px;
    left:0;
    margin-top: -550px;
height:70px;}
#ribbon2{
    position: absolute;
    width: 900px;
    margin-top: -100px;

    
    z-index:-1;}
 #arrow{   display:none;
     cursor:pointer;
     float: right;
    position: relative;
    bottom: 400px;
    height:25%}

#arrow:hover{
    opacity:.7;
}

#chickenhawk{   height: 160px;
    position: fixed;
    bottom: 0;
    margin-left: 89%;
    margin-right: 10%;
    z-index:2;

}

#chickenhawk2{   height: 160px;
    position: fixed;
    bottom: 0;
    display:none;
    margin-left: 89%;
    margin-right: 10%;
    z-index:2;

    

    
}

#chickenhawk:hover{opacity:.7}
#chickenhawk2:hover{opacity:.7}

    #portfolio{  color:white;
    }

.projectphoto{margin:10px;
    height:150px;
    width:254px;
    border-style:solid;
    border-color:#195757;
    border-width:2px;

    
 

                }

.projectphoto:hover{opacity:.9;}

.projectitles:hover{
    cursor:pointer;
    opacity:.7;
}
.aboutModal-design{background-color:black;
border-color:#195757;
font-weight:lighter;
}

.modal-design{position:fixed;
left:624px;
height:720px;
top:-50px;
background-color:black;
border-left: solid 2px #195757;;



}

.side-link{display:grid;
    margin:10px;
    margin-left:-8px;
    font-size:32px;
    cursor:pointer;
    text-decoration:none;
    color:white;}
    .side-link:hover{
        opacity:.7;
        text-decoration:none;
        color:white;
    }


.modalprojectphoto{height:209px;
width:354px;
border-style:solid;
border-color:#195757;
border-width:2px;
}

#contact{ display: block;
    margin-top: 280px;
}

    h3{margin-left:5%;}
#email{margin-left:7%;
font-size:16px;
color:white;
text-decoration:underline;}

#email:hover{opacity:.7;}

.github{   filter:invert(100%);
    height: 30px;
    margin-right:5px;
color:white;
}
    .github:hover{cursor:pointer;
    opacity:.7}


.fa-link{
    font-size: 30px;
 
    height: 40px;
color:white;}

.fa-link:hover{cursor:pointer;
opacity:.7}

    #project-links{margin-top: 5px;
        margin-left:0px;
        display: flex;
    }
.modal-body{  text-align: center;
}

.sidebar-body{text-align:initial;
   
}
#poke-big{margin-left:600px;
    padding-bottom:180px;}

.big-project-photo{
  float:right;
  margin-right:30px;
  margin-top:80px;
  height:80px;
  
}
#tune-big{margin-top:20px;}



#this-big{margin-left:600px;}
#cli-big{margin-left:600px;}


.project-info{    
    position:relative;

    font-size: 12px;
     margin-lefT: 0px;
    margin-right: 40px;
    width: 280px;
    top:500px;
   
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -300px, 0);
   transform: translate3d(0, -300px, 0);
   opacity: 1;
}
.project-description{ 
position:relative;
margin-left:16px;
text-align: left;
}
#small-photos{    display:grid;

 }
.small-project-photo{ 
    cursor:pointer;
    position:relative;
    float:right;
    margin-left:600px;
    margin-top:20px;
    height:120px;;

    
}





/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {#menu{display:none;}} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {#menu{display:none;}} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {#menu{display:none;}} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {#menu{display:none;}} */
body{
    margin: 0;
    padding: 0;
}

 #pagescroll{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    scroll-behavior:smooth;
} 
.section{
    height: 100vh;
    width: 100%;
    transition: transform 0.3s ease-out;
}
.controllers{
    z-index: 999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    flex-direction: column;
}

#control-up,
#control-down {
    cursor: pointer;
    margin: 5px;
    transform: scale(0.5);
    transition: 0.2s;
}

#control-down{
    transform: rotate(180deg)  scale(0.5);
}
#control-down:hover{
    transform: rotate(180deg)  scale(0.7);
}
#control-up:hover{
    transform: scale(0.7);
}


.background2{background-color:blue;}


#banner{position:relative;
z-index:-1;}

#portfolio-pics{display:grid;
float:right;
margin-bottom:300px;
position:relative;
}

#portfolio-header{
    position: relative;
    top: 232px;
    margin-left:8px;
    z-index:-3;
    vertical-align: top;

}

#title2{font-size:4.5em;
}
#scrollable-div{display:grid;
    scroll-behavior:smooth;
    
    position:relative;
    overflow-y: scroll;
    /* overflow-x: hidden; */
        /* overflow-y: hidden; */

    margin-right:40px;
    /* margin-top:100px; */
    margin-bottom:0px;
    max-height:650px;
    z-index:0;
    
    
}
.example::-webkit-scrollbar {
    display: none;
  }


  ::-webkit-scrollbar {
    width: 1px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    margin-top: 20px;
    margin-bottom: 200px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12b8b8 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #12b8b8
  }
  


  .project-title{    position: relative;
    top: 500px;
margin-left:0;}


#tune-small{display:none}


#down{  
    position:absolute;
    top:500px;
    height: 40px;
    margin-left: 386px;
}

.down-click{position:relative;
top:400px;
cursor:pointer;
height:20px;
display:none}

#down-cli{display:inherit;
}


.up-click{position:relative;
    top:380px;
    cursor:pointer;
    height:20px;
    }
#arrows{
    position:sticky;
    display:grid;
    margin-left:272px;
    bottom:900px;
}



.logos{margin-top:100px;
margin-left:64px;
display:none;
height:120px;
}

#tune-logo{
    position:absolute;
    display:initial;
z-index:-2;}

#cli-logo{position:absolute;
/* right:100px; */
top:200px;
z-index:-2;
height:64px;}
#poke-logo{position:absolute;
z-index:-2;}

#this-logo{position:absolute;
z-index:-2;}


#cli-small2{display:none;}
#this-small2{display:none;}

#up-cli{display:none;}

#up-this{display:none}

#p-cli{display:none;}
#cli-title{display:none;}


.project-title{display:none}
.project-ptag{display:none}

#tune-title{display:initial}
#p-tune{display:initial}

.side-title{margin-top:-70px;}

#poke-big{margin-bottom:200px;}

#scroll-flair{position:absolute;
    z-index:-3;
    top:550px;
}

#blue-and-white{z-index:-10;
position:absolute;
top:980px;
}

#blue-and-white2{z-index:-10;
    position:absolute;
    top:1050;
    float:right;
    right:0;
    }


#tune-big{height:initial;}
    @media only screen and (max-width: 600px) {


#portfoliothingy{display:initial;}


.section{
    height: 100vh;
    width: 100%;
}


        
        #pagescroll{
            width: 100%;
            height: 100vh;
            position: relative;
            overflow:auto;
            overflow-x:hidden;
            overflow-y:hidden;

            scroll-behavior: auto;
        } 

     .big-project-photo{
        height:250px !important;    
        position:relative;  
        top:20;

                    }
    .logos{display:none !important;}

    .side-title{display:none !important}

     
    #scroll-flair{display:none;
    }           
                     
    #menu{
        position:absolute;
        display: flex;
        align-items:center;
    color:white;
    margin-left:8px;
    font-size:12px;
    margin-top:216px;
    
    }
        
    .link{margin-right:16px;
        margin-left:16px;
        cursor:pointer;
        color:white;
        text-decoration: none;}


        #kevin{font-size:80px;
        display:flex;
        margin-bottom:26px;}
        #buchik{font-size:80px;
        margin-bottom:26px;
        }
        
      
        #job{font-size:32px;
            margin-left:1px;
        }
        
        
        
        
        #recordplayer{
            height:226px;
        position:relative;
        top: -16px;
        left:-24px;
        z-index:2;}
        
        #ribbon{   
            position: absolute;
            width: 600px;
            left:0px;
            margin-top: -320px;
            height:32px;
            width:560px;}
        
        
            
         #portfoliophotos{
                /* margin-left:-208px; */
            
                margin-bottom:200px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
           
        
                                
            #chickenhawk{  
                height: 120px;
                position: fixed;
                bottom: 560px;
                left:-12%;
                
            }
            
            #chickenhawk2{   height: 120px;
                position: fixed;
                top: 560px;
                left:-12%;                
                display:none;

                
            }
        
            #sandwich{ 
                position: fixed;
                height: 24px;
                top: 216px;
                left: 2px;
                margin-left: 80%;
                margin-right: 20%;
                margin-top: -200px;
                cursor: pointer;
                z-index:2;
            }
        
            .modal-design{position:fixed;
                left:180px;
                height:720px;
                top:-50px;
                background-color:black;
                border-left: solid 2px #195757;;
                
                
                
                }
        
                .side-link{display:grid;
                    margin:10px;
                    margin-left:-8px;
                    font-size:16px;
                    cursor:pointer;}
                .sidebar-body{margin-top:32px}
        
        
                
    #logo{
     height:86px;
    margin:20px;
                                
                            
                       
                        }
                        
    #header{margin-bottom:24px;}
                    
        
                        
        
     .big-project-photo{
        height:200px !important;      
                     }
                            
    #tune-big{margin-right:400px;
    height:initial;}


    
     #kevin{font-size:80px;
        display:flex;
        margin-bottom:26px;}
    #buchik{font-size:80px;
        margin-bottom:26px;
        }
        
        
        
        #job{font-size:32px;
            margin-left:1px;
        }
        
        
     
        
        
        #recordplayer{
            height:226px;
        position:relative;
        top: -16px;
        left:-24px;
        z-index:2;}
        
   
        
        
            
         #portfoliophotos{
                /* margin-left:-208px; */
            
                margin-bottom:200px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
           
        
                                
           
        
            #sandwich{ 
                position: fixed;
                height: 24px;
                top: 216px;
                left: 2px;
                margin-left: 80%;
                margin-right: 20%;
                margin-top: -200px;
                cursor: pointer;
                z-index:2;
            }
        
            .modal-design{position:fixed;
                left:180px;
                height:720px;
                top:-50px;
                background-color:black;
                border-left: solid 2px #195757;;
                
                
                
                }
        
                .side-link{display:grid;
                    margin:10px;
                    margin-left:-8px;
                    font-size:16px;
                    cursor:pointer;}
                .sidebar-body{margin-top:32px}
        
        
                
                    
                        
                    #header{margin-bottom:24px;}
                    
        
    #blue-and-white{z-index:-10;
    position:absolute;
    top:1400;
    height:60px;
    margin-left:0;
    display:none;
                        }
                        
      #blue-and-white2{z-index:-10;
        height:40px;
    position:relative;
    top:900;
    float:right;
    right:0;
        display:none;

                            }
                        
        
                          
            
            
            
                      
    #down{display:none !important;}
            
    #arrows{  
        position:relative;
        margin-left:0;
        bottom:0;
        z-index:5;
        top:15;
        left:300px;
        display:grid;
                                  
                                
     }      
     #portfolio-header{
        position: relative;
        top: 232px;
        margin-left:8px;
        z-index:-3;
    
    }
        


      #title2{
     font-size:2.5em;
     position:absolute;
     top:-60;
     }                         
                                
        #scrollable-div{margin-top:24px;
        overflow:hidden;
        overflow-y: hidden;
        scroll-behavior: none;
}
    .section2{position:absolute;
    height:200px;}


        
                                        }
                                                
                      
        
        
        