body{background-color:#171818;
    color:white;
font-family:'Barlow', sans-serif;
color:white;
}


html {
    scroll-behavior: smooth;
  }




#logo{
height:19.3447vh;
margin:1.57vw;
   
    }

#recordplayer{
height:44.93758vh;
width:flex;
position:absolute;
margin-left:52vw;
margin-top:-60vh;
}

#sandwich{ 
position:fixed;
height: 5%;

margin-left: 79vw;
margin-top: 2vh;
cursor: pointer;
z-index:2;

}
#sandwich:hover{
    opacity:.7;
}


#title{margin-top: -8.022922636103152vh;
    color: white;
    margin-left: 0.62843vw;
display:grid;
}
#kevin{font-size:24.9609vh;
display:flex}
#buchik{margin-top:-8.022922636103152vh;
    font-size:24.9609vh;
    }

#job{margin-left: 0.78554vw;
    margin-top: -4.584527220630372vh;
    font-size:8.736349vh;
font-weight: lighter;
opacity:.5;}

#menu{
    display: flex;
    align-items:center;
color:white;
border-spacing: 2.865329512893983vh;
margin-left:2.865329512893983vh;
font-size:2.496099vh;

margin-top:5.7306vh;

}
.link{margin-right:1.8853vw;
margin-left:1.8853vw;
cursor:pointer;
color:white;
text-decoration: none;}


.link:hover{text-decoration:none;
    color:white;
opacity:.7}

.line{border-left: 2px solid white;
height:20px;}
#ribbon{    z-index: -1;
    position: relative;
    width:  14809px;;
    left:0;
    margin-top: -222px;
height:9.708vh;}

 #arrow{   display:none;
     cursor:pointer;
     float: right;
    position: relative;
    bottom: 57.306590257879655vh;

    min-height:25vh;}

#arrow:hover{
    opacity:.7;
}

#chickenhawk{   height: 24vh;
    position: fixed;
    bottom: 0;
    margin-left: 89vw;
    margin-right:0.274941084vw;
    z-index:2;

}

#chickenhawk2{   height: 24vh;
    position: fixed;
    bottom: 0;
    display:none;
    margin-left: 89vw;
    margin-right:0.274941084vw;

    z-index:16;

    

    
}

#chickenhawk:hover{opacity:.7}
#chickenhawk2:hover{opacity:.7}

    #portfolio{  color:white;
    }


.projectitles:hover{
    cursor:pointer;
    opacity:.7;
}
.aboutModal-design{background-color:black;
border-color:#195757;
font-weight:lighter;
}

.modal-design{position:fixed;
left:49vw;
height:103.15186246418338vh;
top:-7.16vh;
background-color:black;
border-left: solid 2px #195757;;



}

.side-link{display:grid;
    margin:1.43vh;
    margin-left: -0.625vw;
    font-size:32px;;
    cursor:pointer;
    text-decoration:none;
    color:white;}
    .side-link:hover{
        opacity:.7;
        text-decoration:none;
        color:white;
    }


.modalprojectphoto{height:209px;
width:354px;
border-style:solid;
border-color:#195757;
border-width:2px;
}

#contact{ display: block;
    margin-top: 38.8349vh;
}

    h3{margin-left:5%;}
#email{margin-left:7%;
font-size:2.496099vh;;
color:white;
text-decoration:underline;}

#email:hover{opacity:.7;}

.github{   filter:invert(100%);
    height: 30px;
color:white;
}
    .github:hover{cursor:pointer;
    opacity:.7}


.fa-link{
    font-size:30px;
 
    height: 40px;
color:white;}

.fa-link:hover{cursor:pointer;
opacity:.7}

    #project-links{
        display: flex;
        margin-top:4px;
    }
.modal-body{  text-align: center;
}

.sidebar-body{text-align:initial;
   
}
/* #poke-big{margin-left:46.875vw;
    padding-bottom:24.9653vh;} */

.big-project-photo{
  float:right;
  margin-top:11.461318051575931vh;
  height:11vh;
  width:auto;
  object-fit: contain; 
  margin-right:.5vw;


  
}
#tune-big{margin-top:2.7739vh;
height:64vh;

}



#this-big{margin-left:46.875vw}
#cli-big{margin-left:46.875vw;}


.project-info{    
    position:relative;

    font-size:12px;
     margin-lefT: 0px;
    margin-right: 3.142183817vw;
    width: 22vw;
    top:71.6vh;
   
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -300px, 0);
   transform: translate3d(0, -300px, 0);
   opacity: 1;
}
.project-description{ 
position:relative;
margin-left:1.25vw;
text-align: left;
}
#small-photos{    display:grid;

 }
.small-project-photo{ 
    cursor:pointer;
    position:relative;
    float:right;
    margin-left:46.875vw;
    margin-top:2.8vh;
    height:120px;;

    
}





/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {#menu{display:none;}} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {#menu{display:none;}} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {#menu{display:none;}} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {#menu{display:none;}} */
body{
    margin: 0;
    padding: 0;
    
}

 #pagescroll{
    width: 100vw;
    height: 100vh;
    max-height:122.6361031vh;
    position: relative;
    overflow: hidden;
    scroll-behavior:smooth;
} 
.section{
    min-height: 100vh;
    width: 100vw;
}


.controllers{
    z-index: 999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    flex-direction: column;
}










#portfolio-pics{display:grid;
float:right;
margin-bottom:42.97vh;
position:relative;
min-height:93.12320vh;
}

#portfolio-header{
position:relative;
bottom:-24vh;
margin-left:0.625vw;
z-index:-10;
min-height:10vh;

}

#title2{font-size:72px;
}
#scrollable-div{display:grid;
    scroll-behavior:smooth;
    
    overflow-y: scroll;
    /* overflow-x: hidden; */
        /* overflow-y: hidden; */

    margin-right:3.125vw;
    margin-top:-20px;
    max-height:93.12320vh;
    z-index:0;
    
    
}
.example::-webkit-scrollbar {
    display: none;
  }


  ::-webkit-scrollbar {
    width: 1px;


  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    margin-top: 2.8653vh;
    margin-bottom: 28.653vh;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12b8b8 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #12b8b8
  }
  


  .project-title{    position: relative;
    top: 71.633vh;
margin-left:0;}


#tune-small{display:none}


#down{  
    position:absolute;
    top:71.633vh;
    height: 5.547850vh;
    margin-left: 7.69010vw;
}

.down-click{

cursor:pointer;
display:none;
margin-top:1vh;}

#down-cli{display:inherit;
}


.up-click{
    position:relative;
    cursor:pointer;
    }


.up-click:hover{

cursor:pointer;
opacity:.4
        }

 .down-click:hover{
 cursor:pointer;
opacity:.4
            }
#arrows{
    position:absolute;
    display:grid;
    left:22vw;
    top:40vh;
  
}



.logos{
position:absolute;
margin-top:17vh;
margin-left:64px;
display:none;
height:19vh;
}

#tune-logo{
    position:absolute;
    display:initial;
z-index:-2;}

#cli-logo{position:absolute;
/* right:100px; */
top:200px;
z-index:-2;
}
#poke-logo{position:absolute;
z-index:-2;}

#this-logo{position:absolute;

z-index:-2;}


#cli-small2{display:none;}
#this-small2{display:none;}

#up-cli{display:none;}

#up-this{display:none}

#p-cli{display:none;}
#cli-title{display:none;}


.project-title{display:none}
.project-ptag{display:none}

#tune-title{display:initial}
#p-tune{display:initial}

.side-title{margin-top:-70px;}
#poke-side{
position:relative;
top:180px;}


#poke-big{
margin-bottom:200px;
margin-left:625px;}
/* 
#poke-big{
margin-bottom:200px;} */

#scroll-flair{position:absolute;
    z-index:-3;
    top:550px;
}

#blue-and-white{z-index:-10;
position:absolute;
top:128.9223vh;
}

#blue-and-white2{z-index:-10;
    position:absolute;
    top:149.63106796116506vh;
    float:right;
    right:0;
    }
#hope{display:inline-block;}


@media only screen and (max-width: 1200px) {
.project-description{ top:100}

#portfolio-header{
margin-bottom:40px;}

.side-title{display:none;}

#blue-and-white{display:none;}
#blue-and-white2{display:none;}

#scrollable-div{overflow-x:hidden;}
.project-info{
    z-index:10;
}

.project-title{
    position:absolute;
    top:460;
    z-index:10;
}
#arrows{z-index:10;
    top:460;
    left:250;
    
    
}

.side-title{display:none !important;}


}
    @media only screen and (max-width: 600px) {

        #portfolio-header{
            display:initial;
            }


        .big-project-photo{
            height:250px; 
            width:400px;  
            position:relative;  
            top:20;
            opacity:0;
    
                        }

                            
              
                    
       

  

         #scrollable-div{
            margin-top:24px;
            overflow:hidden;
            overflow-y: hidden;
            scroll-behavior: none;
        }
        #arrows{
            top:260;
            position:absolute;
            display:grid;
            left:300;
     
        }
        .section2{
            position:relative;
            bottom:0
        }


        #blue-and-white{
            display:none;
        }
                                
        #blue-and-white2{z-index:-10;
            display:none;
                
            
        }
        .project-info
        {font-size:24px;
        width:500px;
        margin-lefT: 0px;
        margin-right:0px;

    }

        .logos{margin-top:0px;
        margin-left:64px;
        height:220px;
        z-index:1;
            }
        

        #chickenhawk{left:-79px;
            height:150px;
    
        }
        #chickenhawk2{left:-79px;
            height:150px;
        
        }
        #menu{
            z-index:5;
            position:relative;
            font-size:12px;
            margin-left:14px;
            bottom:32px;

        }         
        #kevin{
            margin-top:40px;
            font-size:12vh;
            display:flex
        }
         #buchik{margin-top:-20px;
            font-size:12vh;
        }

        #title{margin-top:-64px;
            color: white;
            margin-left: 0;
            display:grid;
            
        }


        #job{
            margin-top:4px;
            margin-left:8px;
            font-size:8vh;
        }

        #logo{
            height:24vh;;
            margin:1.57vw;
            
            
       
        }


        #sandwich{ 
            position:fixed;
            height: 5%;
        
            margin-left: 42vw;
                      
        
    }
        
}